<style>

/* special fields*/


/* light blue */ 
div.digression {    
    background-color: #f6f6f6;
    border-color: #a1c6de;
    border-left: 5px solid #a1c6de;
    border-right: 5px solid #a1c6de;
    border-top: 5px solid #a1c6de;
    border-bottom: 5px solid #a1c6de;
    padding: 0.5em;
}

/* orange */
div.note {    
    background-color: #f6f6f6;
    border-color: #ffb382;
    border-left: 5px solid #ffb382;
    border-right: 5px solid #ffb382;
    border-top: 5px solid #ffb382;
    border-bottom: 5px solid #ffb382;
    padding: 0.5em;
}

/* light green */
div.task {    
    background-color: #f6f6f6;
    border-color: #99b898;
    border-left: 5px solid #99b898;
    border-right: 5px solid #99b898;
    border-top: 5px solid #99b898;
    border-bottom: 5px solid #99b898;
    padding: 0.5em;
}

div.tool {    
    background-color: #f6f6f6;
    border-color: #f542e0;
    border-left: 7px solid #f542e0;
    border-right: 7px solid #f542e0;
    border-top: 7px solid #f542e0;
    border-bottom: 7px solid #f542e0;
    border-style: double;
    padding: 0.5em;
}

/* dark red */
div.warn {    
    background-color: #f6f6f6;
    border-color: #cc1a32;
    border-left: 5px solid #cc1a32;
    border-right: 5px solid #cc1a32;
    border-top: 5px solid #cc1a32;
    border-bottom: 5px solid #cc1a32;
    padding: 0.5em;
}

img.icon {
  display: inline-block; 
  width: 18px;
  height: 18px;
  margin-right: 7px;
  margin-bottom: 3px;
}

span.invisible_border {
  padding: 0.1em;
  font-size: 20px;
}

div.border {
  border-color: #666666;
  border-left: 1.5px solid;
  border-right: 1.5px solid;
  border-top: 1.5px solid;
  border-bottom: 1.5px solid;
  padding: 0.1em;
}


/* for simple answer / solution*/
input.show {
  visibility: hidden;
}

input.hide {
  visibility: hidden;
}


label.answers {
  border: 1px solid black;
  padding: 1px;
}

label.show_answer {
  background-color: #008CBA;  /* Blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

label.hide_answer {
  background-color: #b2b2b2; /* Grey */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}


span.content {
  display:none;
}
input.show:checked ~ span.content {
  display:block;
}

input.hide:checked ~ span.content {
  display:none;
}




/* Tables & side by side images */

/* 2 images side by side */
.imgcolumn2 {
  float: left;
  width: 50.0%;
  padding: 5px;
}

/* 3 images side by side */
.imgcolumn3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* 4 images side by side */
.imgcolumn4 {
  float: left;
  width: 25.0%;
  padding: 5px;
}


.imgrow::after {
  content: "";
  clear: both;
  display: table;
} 

figure figcaption {
  margin: 3px;
  text-align: center;
  font-weight: bold;
}

table {
    float: left;
    border-style: 1.5px solid black;
    border: 1.5px  black solid !important;
    color: black !important;
}

th, td {
    text-align: center;
    vertical-align: middle;
    border: 1.5px  black solid !important;
    color: black !important;
}

/* todo?: #centertable table hinzufügen?*/

#centertable td
{
    text-align: center; 
    vertical-align: middle;
}

#centertable th
{
    text-align: center; 
    vertical-align: middle;
}


 </style>
