<style>


/* special fields*/

div.digression {    
    background-color: #e5f6ff;
    border-color: #a1c6de;
    border-left: 5px solid #a1c6de;
    border-right: 5px solid #a1c6de;
    border-top: 5px solid #a1c6de;
    border-bottom: 5px solid #a1c6de;
    padding: 0.5em;
}

div.note {    
    background-color: #e5f6ff;
    border-color: #ffb382;
    border-left: 5px solid #ffb382;
    border-right: 5px solid #ffb382;
    border-top: 5px solid #ffb382;
    border-bottom: 5px solid #ffb382;
    padding: 0.5em;
}

div.task {    
    background-color: #e5f6ff;
    border-color: #99b898;
    border-left: 5px solid #99b898;
    border-right: 5px solid #99b898;
    border-top: 5px solid #99b898;
    border-bottom: 5px solid #99b898;
    padding: 0.5em;
}

div.warn {    
    background-color: #e5f6ff;
    border-color: #cc1a32;
    border-left: 5px solid #cc1a32;
    border-right: 5px solid #cc1a32;
    border-top: 5px solid #cc1a32;
    border-bottom: 5px solid #cc1a32;
    padding: 0.5em;
}

/* for simple answer / solution*/
input#show, input#hide {
    display:none;
}

label#answers {
  border: 1px solid black;
  padding: 1px;
}

label#show_answer {
  background-color: #008CBA;  /* Blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

label#hide_answer {
  background-color: #b2b2b2; /* Grey */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}



span#content {
    display:none;
}
input#show:checked ~ span#content {
  display:block;
}

input#hide:checked ~ span#content {
    display:none;
}


/* Tables & side by side images */
.imgcolumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.imgrow::after {
  content: "";
  clear: both;
  display: table;
} 

figure figcaption {
  margin: 3px;
  text-align: center;
  font-weight: bold;
}

table {
    float: left;
    border-style: 1.5px solid black;
    border: 1.5px  black solid !important;
    color: black !important;
}

th, td {
    text-align: center;
    vertical-align: middle;
    border: 1.5px  black solid !important;
    color: black !important;
}

#centertable td
{
    text-align: center; 
    vertical-align: middle;
}

#centertable th
{
    text-align: center; 
    vertical-align: middle;
}


 </style>
